<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<strong>i'm geocoding b!#%$ </strong>

      <input type="button" value="Toggle Street View" onclick="toggleStreetView();"></input>
<div id="map"><div id="floating-panel">
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL3tGbNJnkQPnEp5KRfIUi-TOJ6-LWZ0I&callback=initMap">
</script>
<!-- ^async lets the broswer render teh rest of the webiste while the Maps API loads. when the blessed api is ready, it calls the function specified using the callback which is: "initMap" -->
