<!DOCTYPE html>
<html>
<head>
  <title>StreetviewApp</title>
  <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> -->
  <!-- ^the map should be displayed full-screen and not resizable by the user -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL3tGbNJnkQPnEp5KRfIUi-TOJ6-LWZ0I&callback=initMap"> // ^async lets the broswer render the rest of the webiste while the Maps API loads. when the blessed api is ready, it calls the function specified using the callback which is: "initMap"
    </script>
  </body>
</html>
